@page "/AbpMauiBlazor"
@using Microsoft.Extensions.Localization
@using global::AbpMauiBlazor.Localization
@inject IStringLocalizer<AbpMauiBlazorResource> L
@{
}
<h1>AbpMauiBlazor</h1>
<p>@L["SamplePageMessage"]</p>