@page
@using Microsoft.Extensions.Localization
@using AbpMauiBlazor.Localization
@using AbpMauiBlazor.Web.Pages.AbpMauiBlazor
@model AbpMauiBlazor.Web.Pages.AbpMauiBlazor.IndexModel
@inject IStringLocalizer<AbpMauiBlazorResource> L

@{
}
<h1>AbpMauiBlazor</h1>
<p>@L["SamplePageMessage"]</p>
